*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background: linear-gradient(to right bottom, #041330, #3d2409) no-repeat center center fixed;
    background-size: cover;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* margin-left: 18rem;
    margin-right: 18rem; */
}

header {
    font-family: Jost;
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem 0rem 2rem;
}

h1 {
    color: #F3F3F3;
    font-size: 5em;
    line-height: 130%;
}

.content-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 2rem;
}

.left-column {
    color: white;
    margin-right: 2rem;
}

.hero-image {
    min-height: 500px;
    height: 60vh;
}

input {
    font-family: Montserrat;
    height: 60px;
    width: 600px;
    border: 2px solid #d1d1d1;
    border-radius: 16px;
    background-color: transparent;
    padding: 1rem 1.25rem;
    color: #F3F3F3;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

input:focus{
    outline: none;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    height: 60px;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 16px;
    border: 2px solid;
    padding: 16px 60px;
    cursor: pointer;
    color: #F3F3F3;
    background-color: transparent;
    line-height: 50%;
}


.dont_click {
    color: #ffe2b0;
    border-color: #ffe2b0;
    transition: background 0.3s;
    

}

.dont_click:hover {
    color: #041330;
    background: #ffe2b0;
}

.dont_click:active {
    border-color: #d89520;
}

.click {
    color: #8bc1ff;
    border-color: #8bc1ff;
    transition: background 0.3s;
}

.click:hover {
    color: #041330;
    background: #8bc1ff;;
}

.click:active {
    border-color: #317ed6;
}

.modal-img {
    height: 200px;
}

h2 {
    font-size: 44px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    transition: opacity 0.3s ease;
}

.modal {
    background: linear-gradient(to right bottom, #041029 , #2e1905);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 32px 24px
}

.close {
    font-weight: 300;
    color: rgb(179, 179, 179);
    margin-top: 2.5rem;
    border: none;
}

.close:hover {
    color: white;
}

.success {
    opacity: 0;
    pointer-events: none;
    color: #F3F3F3;
}

.error {
    opacity: 0;
    pointer-events: none;
    color: #F3F3F3;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

p {
    padding:1rem 2rem;
    line-height: 140%;
    border: 2px solid #d1d1d1;
    border-radius: 1rem;
    color: #8bc1ff;
    font-size: 1.5rem;
    max-width: 600px;
    max-height:120px;
    overflow: hidden;
}